.baner{
    padding-left: 96px;
    padding-right: 96px;
    background-color: rgba(26, 29, 26, 1);
    position: relative;
}
.baner img{
    width: 100%;
}
.text{
    position: absolute;
    right: 250px;
    bottom: 130px;
    text-align: right;
}
.text p {
    color: rgba(235, 235, 235, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    padding-right: 40px ;
}
.start{
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    padding: 8px 40px 8px 40px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 24px 8px 24px 8px;
}
.start a{
    text-decoration: none;
    color: #EBEBEB ;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;

}
.start img{
    width: 28px;
    height: 28px;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 7px;
    padding-right: 10px;
}
.title1{
    background-color: rgba(26, 29, 26, 1);
    padding-top: 32px;
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    
}
.title1 h3{
    font-size: 24px;
    color: #EBEBEB;
    padding: 8px 40px 8px 40px;
    font-weight: 700;
    line-height: 58px;

}
.title1 a{
    text-decoration: none;
    color: #EE4426;
    font-weight: 400;
    font-size: 18px;
    line-height: 140px;
}
.more1{
    display: flex;

}
.more1 img{
    margin-right: 20px;
    margin-top: 8px;
}
.industry{
    padding-left: 96px;
    padding-right: 96px;
    background-color: rgba(26, 29, 26, 1);
    padding-top: 16px;

    display: flex;
    justify-content: center;
    gap: 16px;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #EBEBEB;


}

.pattern img{
    display: block;
    width: 100%;
}

.title2{
    background-color: rgba(26, 29, 26, 1);
    padding-top: 32px;
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}
.title2 h3{
    font-size: 24px;
    color: #EBEBEB;
    font-weight: 700;
    line-height: 58px;

}
.aboutUs{
    display: flex;
    background-color: rgba(26, 29, 26, 1);
    padding-top: 32px;
    padding-left: 96px;
    padding-right: 96px;
    color: #EBEBEB;
    line-height: 24px;
    gap: 16px;
    justify-content: center;
}
.aboutUs h3{
    font-size: 15px;
    font-weight: 700;
    
}
.aboutUs p{
    font-size: 14px;
    font-weight: 400;
   
}

.orangeCard{
    width: 249.96px;
    text-align: center;
    border-radius: 12px;
    padding: 8px;
    gap: 8px;
    background-image: linear-gradient(
        to bottom,
        rgba(26, 29, 26, 1) 0%,
        rgba(26, 29, 26, 0.9) 30%,
        rgba(238, 68, 38, 0.4) 80%,
        rgba(238, 68, 38, 0.6) 100%
);
}
.blackCard{
    width: 249.96px;
    text-align: center;
    border-radius: 12px;
    padding: 8px;
    gap: 8px;
    background-image: linear-gradient(
        to bottom,
        rgba(26, 29, 26, 1) 0%,
        rgba(26, 29, 26, 1) 30%,
        rgba(235, 235, 235, 0.1) 80%,
        rgba(235, 235, 235, 0.05) 100%
);


 align-self: flex-end;

 position: relative;
 top: 30px;
}

.conectUs{
    padding-top: 120px;
    background-color: rgba(26, 29, 26, 1);

    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    text-align: right;

}
.conectUs img{
    padding-right: 32px;
}
.conectUs h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 58px;
}
.conectUs p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.conectUs button{
    width: 100%;
    margin-top: 60px;
}