header{
    width: 100%;
    background-color: rgba(26, 29, 26, 1);
}

.navbar{
    padding: 0 96px 0 96px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration: none;

}
header ul{
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;}
header li{
    list-style: none;
    padding: 16px;
    margin: 0px;
}
header li a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(235, 235, 235, 1);
}

.conectUs{
    background-color: rgba(235, 235, 235, 1);
    padding: 8px 16px 8px 16px;
    border-radius: 12px 4px 12px 4px;
}
.conectUs a{
    font-weight: 700;
    font-size: 16px;
    color: rgba(26, 29, 26, 1);

}
header img{
    width: 103.7px;
    height: 40px;
}